<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand navbar-bg navbar-light border-bottom box-shadow mb-3" style="min-width: 638px;">
			<div class="container-fluid">
				<span style="margin-right:40px">Šifrování textu </span>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a id="buttonWidth" class="nav-link btn btn-outline-success btn-sm mt-1 mb-1 me-3" asp-controller="MorseCode" asp-action="Index">Morseova abeceda</a>
						</li>
						<li class="nav-item">
							<a id="buttonWidth" class="nav-link btn btn-outline-success btn-sm mt-1" asp-controller="CaesarCipher" asp-action="Index">Caesarova šifra</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="m-2 ">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>